/Libraries/third_party/__checkout/
/Libraries/third_party/curl/
/Libraries/third_party/openssl/
/Libraries/third_party/libyuv/
/cmake-build-debug/
/cmake-build-debug/CMakeFiles
/cmake-build-release/
/.idea/
/cmake-build-debug-coverage/
