/Libraries/third_party/__checkout/
/Libraries/third_party/curl/
/Libraries/third_party/openssl/
/Libraries/third_party/libyuv/
/cmake-build-debug/
/cmake-build-debug/CMakeFiles
/cmake-build-release/
/.idea/
/cmake-build-debug-coverage/
/Libraries/third_party/opencv/
/Libraries/third_party/assimp/
/Libraries/third_party/ffmpeg/
/Libraries/third_party/FreeImage/
/Libraries/third_party/GLEW/
/Libraries/third_party/portaudio/
